<h1 style="padding-left: 35%">Welcome to Tik Tok Toe</h1>

<div class="all_cells">
  <div class="clearfix">
    <app-ground *ngFor="let cell of cells[0] | slice: 0: 3; let i = index" [value]="cell"
                (userClick)=clickHandler(0,i)></app-ground>
    <br>
  </div>

  <div class="clearfix">
    <app-ground *ngFor="let cell of cells[1] | slice: 0: 3; let i = index" [value]="cell"
                (userClick)=clickHandler(1,i)></app-ground>
    <br>
  </div>

  <div class="clearfix">
    <app-ground *ngFor="let cell of cells[2] | slice: 0: 3; let i = index" [value]="cell"
                (userClick)=clickHandler(2,i)></app-ground>
    <br>
  </div>


  <div *ngIf="winner">
    winner is {{winner}}
  </div>
</div>









